.button {
  background-color: #81b3d2;
  width: 284px;
  height: 58px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #669ec0;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}
