.frame-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 59px 357px;
}

.catalog-block {
  display: grid;
}

.catalog-block__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  list-style: none;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.catalog-block__item {
  display: grid;
}

.catalog-block__description {
  padding: 12px 20px;
}

.catalog-block__item--first {
  display: grid;
  grid-column: 1/-1;
}

.catalog-block__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog-block__like {
  background-color: #ffffff;
  border: none;
  width: 70px;
}

@media screen and (min-width: 320px) {
  .catalog-block__list {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .catalog-block__list {
    width: 648px;
    margin: 0 auto;
  }

  .catalog-block__like {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 70px;
  }

  .catalog-block__item--first {
    background-color: #f2f2f2;
  }

  .catalog-block__item {
    background-color: #f2f2f2;
  }

  .catalog-block__item:nth-child(3) {
    background-color: #eaeaea;
  }
}

@media screen and (min-width: 1200px) {
  .catalog-block__list {
    margin: 0;
    padding: 0;
    width: 1200px;
  }

  .catalog-block__item--first, .catalog-block__item {
    position: relative;
    padding: 0;
    color: #ffffff;
  }

  .catalog-block__description {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    bottom: 0;
    z-index: 100;
  }

  .catalog-block__like {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
  }
}
