.contacts-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 24px;
}

.contacts-block__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.contacts-block__input-tel {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.contacts-block__input-email {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
