.footer-block {
  text-transform: uppercase;
  color: #000000;
}

.footer-block__copyright {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.footer-block__copyright-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-list__link {
  display: block;
}

.socials-list__icon {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  padding: 15px;
}

@media screen and (min-width: 320px) {
  .footer-block {
    display: grid;
    gap: 10px;
    justify-content: center;
    justify-items: center;
  }

  .socials-list {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 6px;
  }

  .footer-block__title {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) {
  .footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 30px 60px;
  }

  .footer-block__title {
    width: 200px;
    font-size: 21px;
  }

  .socials {
    width: 200px;
    margin-right: 25px;
  }

  .socials-list {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px 30px 120px;
  }

  .footer-block__title {
    font-size: 21px;
  }

  .socials {
    margin-right: 25px;
    width: 200px;
  }
}

.socials-list__icon:hover {
  background-color: #669ec0;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.socials-list__icon:active {
  background-color: #5496bd;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.socials-list__picture:active {
  fill: #87b5d1;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.socials-list__img {
  fill: #ffffff;
}

.socials-list__img:active {
  fill: #87b5d1;
}
