.footer-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.socials-list {
  list-style: none;
}

.html-academy__text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
