.frame {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.frame-block {
  padding: 27px 28px 58px 28px;
}

.frame-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  padding-bottom: 10px;
}

.frame-block__text {
  font-size: 14px;
  margin-bottom: 87px;
}
