.review-block {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding-top: 24px;
}

.review-block__label {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.review-block__input {
  width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 56px;
}
