.sight-block {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding-top: 24px;
}

.sight-block__label {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.sight-block__input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
