@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsansbold.woff") format("woff2");
  font-display: swap;
}
.visually-hidden {
  opacity: 0;
  visibility: hidden;
  font-size: 1px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.link {
  text-decoration: none;
}
.catalog-img {
  background-color: #e5f2fa;
}
.input {
  background-color: #f2f2f2;
  padding: 16px;
  border: none;
}
.button {
  background-color: #81b3d2;
  width: 284px;
  height: 58px;
  left: 18px;
  top: 2687px;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.header__container {
  position: relative;
  background-color: #ffffff;
}
.menu__list {
  background-color: #81b3d2;
  list-style: none;
}
.menu__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.hero-block {
  background-image: url("img/sedona-bg.jpg");
  background-repeat: no-repeat;
  background-color: #e5f2fa;
  margin: 0;
}
.about-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding: 20px 30px;
}
.about-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.about-block__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.content-block {
  margin: 0 auto;
}
.content-blue {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 18px 37px;
}
.content-blue__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.content-blue__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.content-white {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 22px 26px;
}
.content-grey {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  margin: 0;
  padding: 22px 24px;
}
.content-grey__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.content-grey__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.search-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding: 20px 30px;
}
.search-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.search-block__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.catalog-block__list {
  list-style: none;
  font-family: "PT Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.catalog-block__item {
  padding: 20px 24px;
}
.catalog-block__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.catalog-block__like {
  border: none;
  background-color: #ffffff;
}
.frame {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.frame-block {
  padding: 17px 28px;
}
.frame-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
}
.form {
  padding: 20px 20px;
}
.form-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.form-block__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.form-block__input {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.contacts-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 24px;
}
.contacts-block__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.contacts-block__input-tel {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.contacts-block__input-email {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
.grade-block {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding-top: 24px;
}
.grade-block__label {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.grade-block__input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.sight-block {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding-top: 24px;
}
.sight-block__label {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.sight-block__input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.review-block {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding-top: 24px;
}
.review-block__label {
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.review-block__input {
  width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-bottom: 56px;
}
.footer-block {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.socials-list {
  list-style: none;
}
.html-academy__text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.popup {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  width: 320px;
  height: 280px;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.popup__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.popup__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.modal {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  width: 320px;
  height: 280px;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.modal__text {
  padding-bottom: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
/*# sourceMappingURL=style.css.map */
