*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  font-size: 1px;
}

html {
  height: 100%;
  background-color: #e8e8e8;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(1, 1, 3, 0.2), inset 5px rgba(255, 255, 255, 0.2);
}

.main {
  background-color: #ffffff;
}

.footer-block {
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

